In [31]:
import pandas as pd
import os

In [32]:
baseFile = "201801-citibike-tripdata"

In [36]:
os.getcwd()

'/Users/ssamlani/Desktop/BikeData'

In [37]:
allFilePaths = []

for i in range(1, 13):
    #get month in format used in file name
    month = i
    if (i < 10):
        #months less than 10 need a leading 0
        month = "0" + str(i)
    #print(month)
    
    #create filename dynamically
    subFolder = "AllFiles/"
    fileName = f"JC-2018{month}-citibike-tripdata.csv"
    allFilePaths.append(fileName)
    
#Print all file paths
allFilePaths

['JC-201801-citibike-tripdata.csv',
 'JC-201802-citibike-tripdata.csv',
 'JC-201803-citibike-tripdata.csv',
 'JC-201804-citibike-tripdata.csv',
 'JC-201805-citibike-tripdata.csv',
 'JC-201806-citibike-tripdata.csv',
 'JC-201807-citibike-tripdata.csv',
 'JC-201808-citibike-tripdata.csv',
 'JC-201809-citibike-tripdata.csv',
 'JC-201810-citibike-tripdata.csv',
 'JC-201811-citibike-tripdata.csv',
 'JC-201812-citibike-tripdata.csv']

In [38]:
df = pd.DataFrame()

for path in allFilePaths:
    df = df.append(pd.read_csv(path))
    
# df.info()

In [39]:
len(df)

353892

In [40]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [41]:
df.starttime = pd.to_datetime(df.starttime)
df.stoptime = pd.to_datetime(df.stoptime)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 353892 entries, 0 to 20204
Data columns (total 15 columns):
tripduration               353892 non-null int64
starttime                  353892 non-null datetime64[ns]
stoptime                   353892 non-null datetime64[ns]
start station id           353892 non-null int64
start station name         353892 non-null object
start station latitude     353892 non-null float64
start station longitude    353892 non-null float64
end station id             353892 non-null int64
end station name           353892 non-null object
end station latitude       353892 non-null float64
end station longitude      353892 non-null float64
bikeid                     353892 non-null int64
usertype                   353892 non-null object
birth year                 353892 non-null int64
gender                     353892 non-null int64
dtypes: datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 43.2+ MB

In [43]:
df["Month"] = [x.month for x in df.starttime]
df["Day"] = [x.day for x in df.starttime]

In [44]:
df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month,Day
20200,1081,2018-12-22 11:51:46.060,2018-12-22 12:09:47.473,3694,Jackson Square,40.71113,-74.0789,3269,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,1,12,22
20201,344,2018-12-25 21:40:09.866,2018-12-25 21:45:54.267,3694,Jackson Square,40.71113,-74.0789,3280,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,2,12,25
20202,1233,2018-12-29 12:55:45.969,2018-12-29 13:16:19.596,3694,Jackson Square,40.71113,-74.0789,3186,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,1,12,29
20203,1057,2018-12-30 15:32:09.332,2018-12-30 15:49:46.351,3694,Jackson Square,40.71113,-74.0789,3213,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,2,12,30
20204,301,2018-12-31 16:34:11.934,2018-12-31 16:39:13.834,3694,Jackson Square,40.71113,-74.0789,3277,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,1,12,31

In [49]:
dfSub = df.sample(frac=0.02, random_state=45)

dfSub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7078 entries, 21575 to 182
Data columns (total 17 columns):
tripduration               7078 non-null int64
starttime                  7078 non-null datetime64[ns]
stoptime                   7078 non-null datetime64[ns]
start station id           7078 non-null int64
start station name         7078 non-null object
start station latitude     7078 non-null float64
start station longitude    7078 non-null float64
end station id             7078 non-null int64
end station name           7078 non-null object
end station latitude       7078 non-null float64
end station longitude      7078 non-null float64
bikeid                     7078 non-null int64
usertype                   7078 non-null object
birth year                 7078 non-null int64
gender                     7078 non-null int64
Month                      7078 non-null int64
Day                        7078 non-null int64
dtypes: datetime64[ns](2), float64(4), int64(8), object(3)
memory usage: 995.3+ KB

In [50]:
dfSub.groupby(["Month"]).Month.count() / len(dfSub)

Month
1     0.036734
2     0.042809
3     0.049308
4     0.069652
5     0.102147
6     0.111048
7     0.107799
8     0.132241
9     0.106245
10    0.112037
11    0.070359
12    0.059621
Name: Month, dtype: float64

In [51]:
df.groupby(["Month"]).Month.count() / len(df)

Month
1     0.035822
2     0.042680
3     0.048345
4     0.066783
5     0.097363
6     0.115677
7     0.119438
8     0.125552
9     0.110265
10    0.110593
11    0.070389
12    0.057094
Name: Month, dtype: float64

In [53]:
dfSub.to_csv("randomSample.csv", index=False)

In [59]:
pd.read_csv("randomSample.csv")

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month,Day
0,121,2018-10-02 21:25:51.501,2018-10-02 21:27:52.783,3211,Newark Ave,40.721525,-74.046305,3213,Van Vorst Park,40.718489,-74.047727,33593,Subscriber,1986,1,10,2
1,288,2018-10-02 08:03:12.636,2018-10-02 08:08:01.088,3278,Monmouth and 6th,40.725685,-74.048790,3273,Manila & 1st,40.721651,-74.042884,26202,Subscriber,1988,1,10,2
2,725,2018-09-07 16:20:20.515,2018-09-07 16:32:25.864,3211,Newark Ave,40.721525,-74.046305,3277,Communipaw & Berry Lane,40.714358,-74.066611,26209,Subscriber,1988,2,9,7
3,266,2018-06-27 08:31:20.011,2018-06-27 08:35:46.102,3267,Morris Canal,40.712419,-74.038526,3183,Exchange Place,40.716247,-74.033459,29524,Subscriber,1980,1,6,27
4,254,2018-03-03 09:33:54.675,2018-03-03 09:38:08.948,3481,York St,40.716490,-74.041050,3187,Warren St,40.721124,-74.038051,31811,Subscriber,1988,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7073,374,2018-08-03 17:41:56.295,2018-08-03 17:48:11.180,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,29583,Subscriber,1987,2,8,3
7074,427,2018-11-04 10:17:30.489,2018-11-04 10:24:38.011,3186,Grove St PATH,40.719586,-74.043117,3483,Montgomery St,40.719420,-74.050990,29486,Subscriber,1985,1,11,4
7075,283,2018-08-09 10:03:41.038,2018-08-09 10:08:24.749,3268,Lafayette Park,40.713464,-74.062859,3205,JC Medical Center,40.716540,-74.049638,29264,Subscriber,1987,2,8,9
7076,549,2018-05-09 17:48:54.030,2018-05-09 17:58:03.308,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,26191,Subscriber,1984,1,5,9
7077,329,2018-08-02 21:10:58.956,2018-08-02 21:16:28.501,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,29556,Subscriber,1978,1,8,2